[submodule "Wordflow loop code Yaiwes/manim-skill"]
	path = Wordflow loop code Yaiwes/manim-skill
	url = https://github.com/vumichien/manim-skill.git
	branch = main

[submodule "Wordflow loop code Yaiwes/skill-canvas-video"]
	path = Wordflow loop code Yaiwes/skill-canvas-video
	url = https://github.com/siegerts/skill-canvas-video.git
	branch = main

[submodule "Wordflow loop code Yaiwes/chat-animation"]
	path = Wordflow loop code Yaiwes/chat-animation
	url = https://github.com/xue-xiaobao/chat-animation.git
	branch = main

[submodule "Wordflow loop code Yaiwes/taste-skill"]
	path = Wordflow loop code Yaiwes/taste-skill
	url = https://github.com/Leonxlnx/taste-skill.git
	branch = main
