/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.videoWrapper {
  width: 80%; /* Set the width to 80% of its parent */
  margin: 0 auto; /* This will center the div */
  position: relative; /* Position relative so that padding-top percentage is relative to width */
  padding-top: 45%; /* This sets aspect ratio for the iframe */
  overflow: hidden; /* In case of overflow, it will be hidden */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the .videoWrapper */
  height: 100%; /* Full height of the .videoWrapper */
}
