absl-py==2.3.1
accelerate==0.34.2
addict==2.4.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1761726517133/work
aiohttp-cors==0.8.1
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
albucore==0.0.24
albumentations==2.0.8
ale-py==0.8.1
altair==5.5.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
anndata==0.9.2
annotated-types==0.7.0
annoy==1.17.3
anyio==4.12.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
array-api-compat==1.12.0
arrow==1.4.0
arviz==0.21.0
arxiv==2.2.0
asciitree==0.3.3
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1759762205280/work
audioread==3.0.1
autograd==1.8.0
azure-core==1.36.0
azure-identity==1.25.1
babel==2.17.0
beautifulsoup4==4.14.2
biopython==1.85
black==23.12.1
blake3==1.0.5
bleach==6.3.0
botorch==0.16.0
Bottleneck @ file:///home/task_176193795831906/conda-bld/bottleneck_1761938007449/work
bridgestan==2.7.0
Brotli @ file:///home/task_176236349601924/conda-bld/brotli-split_1762363509186/work
cachetools==6.2.0
catboost==1.2.8
cbor2==5.7.0
certifi==2025.11.12
cffi @ file:///home/task_176183215235376/conda-bld/cffi_1761832773734/work
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
clarabel==0.11.1
clean-fid==0.1.35
click==8.3.1
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpickle==3.1.1
cma==4.4.0
cmaes==0.12.0
cmake==4.1.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorful==0.5.7
colorlog==6.10.1
comm==0.2.3
compressed-tensors==0.10.2
contourpy==1.3.2
coverage==7.11.3
crc32c==2.8
cryptography==46.0.3
cupy-cuda12x==13.6.0
cvxpy==1.7.3
cycler==0.12.1
Cython==3.1.5
d4rl==1.1
dask==2025.10.0
dataclasses==0.6
dataclasses-json==0.6.7
DataProperty==1.1.0
datasets==2.21.0
ddgs==9.6.0
debugpy==1.8.17
decorator==5.2.1
deepspeed==0.18.1
defusedxml==0.7.1
deneb==1.0.1
depyf==0.19.0
diffeqtorch==1.0.0
diffusers==0.21.4
dill==0.3.5.1
diskcache==5.6.3
distlib==0.4.0
distributed==2025.10.0
distro==1.9.0
dllist==2.0.0
dm-env==1.6
dm-tree==0.1.9
dm_control==1.0.34
dnspython==2.7.0
docker-pycreds==0.4.0
donfig==0.8.1.post1
einops==0.6.1
elfi==0.8.7
email-validator==2.3.0
etils==1.13.0
evaluate==0.4.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing==2.2.1
fair-esm==2.0.0
Farama-Notifications==0.0.4
fastapi==0.116.1
fastapi-cli==0.0.10
fastapi-cloud-cli==0.1.5
fasteners==0.20
faster-fifo==1.5.2
fastjsonschema==2.21.2
fastmri==0.3.0
fastrlock==0.8.3
feedparser==6.0.12
filelock==3.20.0
fire==0.7.1
flake8==6.1.0
flash-attention==1.0.0
flatbuffers==25.9.23
flatlatex==0.15
fonttools==4.60.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2024.6.1
ftfy==6.3.1
gast==0.4.0
gdown==5.2.0
gguf==0.17.1
git-lfs==1.6
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
google-api-core==2.28.0
google-auth==2.41.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.71.0
GPUtil==1.4.0
GPy==1.13.2
gpytorch==1.14.2
graphviz==0.21
greenlet==3.2.4
grpcio==1.74.0
gym==0.24.1
gym-notices==0.1.0
gymnasium==0.29.1
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5netcdf==1.7.3
h5py==3.15.1
hf-xet==1.2.0
hjson==3.1.0
hnswlib==0.8.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.36.0
human-eval==1.0.3
humanize==4.14.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.11
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.3.0
interegular==0.3.3
ipykernel==7.1.0
ipyparallel==9.0.2
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.0.7
isoduration==20.11.0
isort==5.13.2
jabbar==0.0.16
jax==0.8.0
jaxlib==0.8.0
jaxtyping==0.3.3
jedi==0.19.2
Jinja2==3.1.6
jiter==0.11.1
joblib==1.2.0
json5==0.12.1
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
julia==0.6.2
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.15
keras==2.13.1
kiwisolver==1.4.9
kornia==0.8.1
kornia_rs==0.1.9
labmaze==1.0.6
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-text-splitters==0.3.11
langsmith==0.4.21
lark==1.2.2
lazy_loader==0.4
lean-dojo==4.20.0
legacy-api-wrap==1.4.1
libclang==18.1.1
librosa==0.11.0
lightning==2.5.5
lightning-fabric==2.5.6
lightning-utilities==0.15.2
linear-operator==0.6
lit==18.1.8
littleutils==0.2.4
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
lm_eval @ git+https://github.com/EleutherAI/lm-evaluation-harness.git@0c9072191e790204c4dfeb3285925b586a548c2e
locket==1.0.0
loguru==0.7.3
lpips==0.1.4
lxml==6.0.2
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline==0.2.1
mbstrdecoder==1.1.4
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
metaworld==3.0.0
mistral_common==1.8.4
mistune==3.1.4
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159258761192/conda-bld/mkl_fft_1761592901799/work
mkl_random @ file:///home/task_176159293348456/conda-bld/mkl_random_1761592947335/work
ml_dtypes==0.5.3
mmcv==2.1.0
mmdet==3.3.0
mmengine==0.10.7
more-itertools==10.8.0
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.1
msgspec==0.19.0
mujoco==3.3.7
mujoco-py==2.1.2.14
multidict==6.7.0
multipledispatch==1.0.0
multiprocess==0.70.13
mypy==1.7.1
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.9.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nflows==0.14
ninja==1.13.0
nle==1.2.0
nltk==3.8.1
notebook==7.4.7
notebook_shim==0.2.4
numba==0.61.2
numcodecs==0.16.3
numdifftools==0.9.41
numexpr @ file:///home/task_176216559693183/conda-bld/numexpr_1762165608108/work
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
ogb==1.3.6
opacus==1.5.4
open-clip-torch==2.20.0
openai==1.90.0
openai-harmony==0.0.4
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
opensimplex==0.4.5.1
openslide-python==1.4.2
opentelemetry-api==1.38.0
opentelemetry-exporter-prometheus==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.3
osqp==1.0.5
outcome==1.3.0.post0
outdated==0.2.2
outlines_core==0.2.10
overrides==7.7.0
packaging==25.0
pacmap==0.6.5
pandas==1.5.3
pandocfilters==1.5.1
paramz==0.9.6
parso==0.8.5
partd==1.4.2
partial-json-parser==0.2.1.1.post6
pathlib2==2.3.7.post1
pathspec==0.12.1
pathtools==0.1.2
pathvalidate==3.3.1
patsy==1.0.2
peft==0.18.0
pesq==0.0.4
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
plotly==5.17.0
pluggy==1.6.0
pooch==1.8.2
portalocker==3.2.0
portpicker==1.6.0
posteriordb==0.2.0
POT==0.9.6.post1
primp==0.15.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
promise==2.3
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==3.20.3
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.4.1
pyabc==0.12.16
pyabcranger==0.0.72
pyarrow @ file:///home/task_175983334304433/conda-bld/pyarrow_1759833582890/work/python
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pybind11==3.0.1
pybullet==3.2.7
pycocotools==2.0.10
pycodestyle==2.11.1
pycountry==24.6.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.12.3
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.41.4
pydicom==3.0.1
pyflakes==3.1.0
PyGithub==2.8.1
pyglet==2.1.9
Pygments==2.19.2
PyHessian @ git+https://github.com/amirgholami/PyHessian.git@de8cf239ace21c7754ee599255897ebf3eed19cb
PyJWT==2.10.1
pyknos==0.16.0
PyNaCl==1.6.0
pynndescent==0.5.13
PyOpenGL==3.1.10
pyparsing==3.2.5
pyre-extensions==0.0.32
pyro-api==0.1.2
pyro-ppl==1.9.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytablewriter==1.2.1
pytest==7.4.4
pytest-cov==4.1.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytokens==0.2.0
pytorch-fid==0.3.0
pytorch-lightning==2.5.5
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyWavelets==1.8.0
PyYAML==6.0.3
pyzmq==27.0.2
qtconsole==5.7.0
QtPy==2.4.3
ray==2.50.1
redis==7.0.1
referencing==0.36.2
regex @ file:///home/task_175888776689620/conda-bld/regex_1758887947389/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rich-toolkit==0.15.0
rignore==0.6.4
rouge_score==0.1.2
rpds-py==0.27.1
rsa==4.9.1
runstats==2.0.0
sacrebleu==2.5.1
safetensors @ file:///home/task_176251515413104/conda-bld/safetensors_1762515995773/work
sample-factory @ git+https://github.com/alex-petrenko/sample-factory.git@1355efa37c1f7051e0df09eb41829577372b66b8
sbi==0.21.0
sbibm==1.1.0
scanpy==1.9.6
scikit-image==0.21.0
scikit-learn==1.7.2
scipy==1.12.0
scs==3.2.9
seaborn==0.13.2
selenium==4.38.0
Send2Trash==1.8.3
sentence-transformers==5.1.2
sentencepiece==0.2.1
sentry-sdk==2.35.2
session-info2==0.2.3
session_info==1.0.1
setproctitle==1.3.6
sgmllib3k==1.0.0
shapely==2.1.2
shellingham==1.5.4
shortuuid==1.0.13
signal-slot-mp==1.0.5
simpleitk==2.5.2
simsimd==6.5.3
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smart_open==7.4.1
smmap==5.0.2
smolagents==1.22.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
spikingjelly==0.0.0.0.12
SQLAlchemy==2.0.43
sqlitedict==2.1.0
stable_baselines3==2.7.0
stack-data==0.6.3
stanio==0.5.1
starlette==0.47.3
statsmodels==0.14.5
stdlib-list==0.12.0
stringzilla==4.2.3
sympy==1.14.0
tabledata==1.3.4
tabulate==0.9.0
tblib==3.2.1
tcolorpy==0.1.7
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.4
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado==0.18.1
terminaltables==3.1.10
tf_keras==2.20.1
threadpoolctl==3.1.0
tifffile==2025.10.16
tiktoken==0.11.0
timm==1.0.20
tinycss2==1.4.0
tokenizers @ file:///home/task_176192139198803/conda-bld/tokenizers_1761922217511/work
toml==0.10.2
toolz==1.1.0
torch==2.0.1
torch-cluster==1.6.3+pt20cu118
torch-fidelity==0.3.0
torch-spline-conv==1.2.2+pt20cu118
torch_geometric==2.3.0
torch_scatter==2.1.2
torch_sparse==0.6.18
torchaudio==2.0.2+cu118
torchdiffeq==0.2.5
torchmetrics==1.8.2
torchvision==0.15.2+cu118
tornado==6.5.2
tqdm==4.67.1
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.57.3
trio==0.32.0
trio-websocket==0.12.2
triton==2.0.0
trl==0.24.0
tslearn==0.6.4
typepy==1.3.4
typer==0.17.3
typer-slim==0.20.0
types-psutil==7.0.0.20251001
types-toml==0.10.8.20240310
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
umap-learn==0.5.3
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn==0.35.0
uvloop==0.21.0
vega-datasets==0.9.0
virtualenv==20.35.3
vllm==0.10.0
wadler_lindig==0.1.7
wandb==0.15.12
watchfiles==1.1.0
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
Wikipedia-API==0.8.1
word2number==1.1
wrapt==1.17.3
wsproto==1.2.0
xarray==2025.6.1
xarray-einstats==0.8.0
xformers==0.0.31
xgrammar==0.1.21
xxhash==3.6.0
yapf==0.43.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1761336872915/work
zarr==2.16.0
zict==3.0.0
zipp==3.23.0
zstandard @ file:///croot/zstandard_1731356346222/work
