.vscode/**
.vscode-test/**
src/**
test/**
out/**
node_modules/**
.gitignore
.eslintrc.*
.eslintrc
esbuild.config.mjs
tsconfig.json
**/tsconfig.json
**/tsconfig.*.json
**/*.map
**/*.ts
!dist/extension.js
**/.eslintignore
**/yarn.lock
**/package-lock.json
**/.yarnrc
**/jest.config.*
**/vitest.config.*
**/coverage/**
**/.github/**
