__pycache__
%*
.qoder
.idea
.vscode
src/tasks/humaneval_x/env/vendor
logs
outputs
outputs_old
data/full
data/alfworld_repo
data/webshop_repo
data/textworld_src
data/alfworld
results
config.sh
download
.DS_Store
# local*
*.ipynb
.cache
src/server/tasks/card_game/result
.dockerfile
.dockerfile-cache
analysis
.claude
.github
logs_*.log
.venv/
.native/
scripts/native/*-installed.txt
